*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 59, 59) !important;
}
.box{
  height: 300px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

h3{
  font-weight: 500;
  color:#130f40;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.hrs,.min,.sec,.ms,.colon{
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  color: red;
  font-family: 'Digital-7';
}
.colon{
  width: 10px;
  height: 50px;
}
.buttons{
  margin-top: 25px;
}
.buttons button{
  border: none;
  padding: 9px 30px;
  color:white;
  margin-right: 15px;
  border-radius: 3px;
  margin-top: 20px;
  text-transform: uppercase;
}
.stopwatch h3 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
}

.start-active,
.stop-active{
  pointer-events: none;
  opacity: 0.5;
}